body {
	background-color: #f2f2f2;
	font-family: sdfdfsdfsd, fantasy, Arial;
	margin: 0px;
}

h1 {
	color: #2fbd55;
	text-align: center;
	font-size: 42px;
	margin: 0px;
	padding: 20px;
}

h2 {
	color: red;
	text-align: center;
}

#text123 {
	color: purple;
}

#maintext {
	color: green;
}


.social {
	width: 400px;
	height: 300px;
	border: 2px solid green;
	padding: 20px;
	margin: 50px;
	background-color: #00f811;
	margin-left: 300px;
}

.top-title {
	margin: 0px;
	background-color: white;
}


.about-me {
	padding: 50px;
}


.my-hobby {
	padding: 50px;
}


.my-hobby p {
	position: relative;
	left: 500px;
	border: 3px double black;
	width: 500px;
	height: 250px;
	padding: 20px;
	font-size: 20px;
}


.links {
	padding: 50px;
	background-color: white;
}

.links a {
	font-size: 24px;
	margin-left: 450px;
}


.links a:hover {
	color: red;
	border: 1px solid black;
	padding: 5px;
}


.lists {
	padding: 150px;
	position: relative;
	left: 450px;
	top: -100px;
}

.mrbeast {
	position: absolute;
	top: 1100px;
	left: 850px;
}


#menu li {
	display: inline;
}


#menu {
	text-align: center;
}









